<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>

<body>

	<section class="layout-content" layout:fragment="conteudo">
		<div class="container">
			<div class="panel panel-default" style="margin: 10px">
				<div class="panel-heading">
					<h1 class="panel-title">Cadastro de convidados</h1>
				</div>
			</div>
				
            <div class="container">
					<form class="form-inline" method="POST" style="margin: 20px 0"
						th:object="${convidado}" th:action="@{/convidados/salvarr}">

						<div class="form-row col-md-12">
							<div class="form-group ">
								<div class="alert  alert-danger  alert-dismissible" role="alert"
									th:if="${#fields.hasAnyErrors()}">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div th:each="erro: ${#fields.detailedErrors()}">
										<i class="fa fa-exclamation-circle"></i> <span
											th:text="${erro.message}">Mensagem erro.</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="form-group col-md-5">
							    <label for="nome">Nome do Convidado</label>
								<input type="text" class="form-control" id="nome"
									placeholder="Nome" th:field="*{nome}"
									th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid': 'is-valid' " />
							</div>
							<div class="form-group col-md-4">
							     <label for="acompanhantes">Quant. Acompanhantes</label>
								<input type="text" class="form-control" id="acompanhantes"
									placeholder="Acompanhantes" th:field="*{acompanhantes}"
									th:classappend="${#fields.hasErrors('acompanhantes')} ? 'is-invalid': 'is-valid'" />
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
							     <label for="sobrenome">sobrenome</label>
								<input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome"
									th:field="*{sobrenome}"
									th:classappend="${#fields.hasErrors('sobrenome')} ? 'is-invalid': 'is-valid'" />
							</div>
							<div class="form-group col-md-4">
							     <label for="data">Data</label>
								<input type="date" class="form-control" id="data" placeholder="Data"
								    th:field="*{dataEntrada}"
									th:classappend="${#fields.hasErrors('dataEntrada')} ? 'is-invalid': 'is-valid'" />
							</div>
							
						</div>
						
						  <div class="form-row">
	                    <div class="form-group col-md-4">
	                        <label for="nome">Nome do Acompanhante</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
	                               autofocus="autofocus"
	                               th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : is-valid " />
	                        <div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="salario">Idade Acompanhante</label>
	                        <input type="text" class="form-control" id="salario" data-mask="#.##0,00"
	                               data-mask-reverse="true"  
	                               th:classappend="${#fields.hasErrors('acompanhantes')} ? 'is-invalid': is-valid " />
	                        <div class="invalid-feedback">
				        		<span ></span>	
	                        </div>
	                    </div>
	                </div>

						

						<div class="form-row col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">
									<span class="oi oi-plus"></span> <span
										class="hidden-xs hidden-sm">Adicionar</span>

								</button>
							</div>
						</div>

					</form>

				</div>

			</div>

	</section>

</body>
</html>