<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>

	<section class="layout-content" layout:fragment="conteudo">
		<div class="container">

			<div class="panel panel-default" style="margin: 10px">
				<div class="panel-heading">
					<h1 class="panel-title">Lista de convidados</h1>
				</div>

				<div class="panel-body">

					<div class="alert alert-warning" role="alert">
						Convidados total: <span th:text="${totalconv}">quant conv</span>
						Acompanhantes total: <span th:text="${totalacomp}">quant
							acompa</span>
					</div>

					<div class="botaolista">
						<a class="btn btn-primary" th:href="@{/convidados/cadastro}">
							<span class="oi oi-plus"></span> <span
							class="hidden-xs hidden-md">Cadastro</span>
						</a>
					</div>

					<div class="alert  alert-success"
						th:if="${!#strings.isEmpty(mensagem)}">
						<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem
							sucesso!</span>
					</div>

					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Acompanhantes</th>
								<th>Sobrenome</th>
								<th>Data</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="convidado : ${convidados}">
								<td th:text="${convidado.nome}"></td>
								<td th:text="${convidado.acompanhantes}"></td>
								<td th:text="${convidado.sobrenome}"></td>
								<td th:text="${#temporals.format(convidado.dataEntrada, 'dd/MM/yyyy HH:mm')}"></td>
								<td class="text-center">
									<form method="POST"
										th:onsubmit="'return confirm(\'Posso remover ' + ${convidado.nome} + '?\');'"
										th:action="@{/convidados/{id}(id=${convidado.id})}">
										<input type="hidden" name="_method" value="DELETE" />

										<button type="submit" class="btn btn-danger btn-sm">
											<span class="oi oi-circle-x iconic-sm" title="Remove"
												aria-hidden="true"></span>
										</button>
									</form>
								</td>
								<td><a class="btn btn-danger"
									th:href="@{/convidados/delete/(id=${convidado.id})}">Delete</a>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>